@import 'variables';
@import 'colors';
@import 'commons';


.main-menu {
  width: 100%;
  background-color: $abestos;
  height: $brand-size;
}

.menu-buttons {
   ul {
     padding: 0;
   }
}

.brand {
  background-color: $black;
  color: $white;
  height: $brand-size;
  width: 60px;
  line-height: $brand-size;
  text-align: center;
  float: left
}

.search {
  float: left;
  display: flex;

  input {
    height: 36px;
    padding: 0;
    margin: 0;
    border: 2px solid;
    border-color: $black;
    padding-left: $padding-left;

    padding-right: $padding-left;
    font-size: 15px;
    color: $alizarin;
    float: left;
  }

  input:focus {
    outline: none;
  }
}

.menu-button-red {
  @extend .menu-button;
  background-color: $black;
  float: left;
  width: 55px !important;
}

.menu-button-dark {
  @extend .menu-button;
  background-color: $dark-gray;
}

.menu-button-light {
  @extend .menu-button;
  background-color: $light-gray;
}


