@import 'variables';
@import 'font-awesome';
@import 'colors';
@import 'commons';
@import 'navigation_bar';

body {
  background-color: $clouds;
  font-family: 'FontAwesome';
}

.responsive-menu {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: $margin-top-separator;
}

.gender {
  width: 100%;
  height: $brand-size;

  .guys-button {
    @extend .big-button;

    &:hover {
      background-color: $asfalt;
      .guys-arrow-down {
        border-top-color: $asfalt;
      }
    }

    .guys-arrow-down {
      @extend .arrow-down;
    }
  }

  .girls-button {
    @extend .big-button;

    &:hover {
      background-color: $pink;
      .girls-arrow-down {
        border-top-color: $pink;
      }
    }

    .girls-arrow-down {
      @extend .arrow-down;
    }
  }
}


.black-separator {
  @extend .separator;
  background-color: $black;
}

.gray-separator {
  @extend .separator;
  background-color: $dark-gray;
}

@media only screen and (max-width: 799px) {
  .menu-buttons {
    display: none;
  }

  .container {
    width: 100%;
  }

  .menu-button {
    width: 100%;
  }

  .responsive-menu {
    display: block;
  }

  .footer {
    .button {
      width: 100%;
    }
  }

  .search {
    input {
      width: 50px;
    }
  }

  .box-button {
    height: 90px;
    width: 90px;
    line-height: 90px;
    font-size: $regular-text-size;
  }
}